<footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <img src="assets/logo2.png" alt="Logo de la empresa">
      </div>
      <div class="footer-social">
        <h3>Síguenos</h3>
        <ul>
          <li><a href="#"><img src="assets/facebook.svg" alt="Facebook"></a></li>
          <li><a href="https://www.instagram.com/carloss_espigaress/"><img src="assets/ig.svg" alt="Instagram"></a></li>
        </ul>
      </div>
      <div class="footer-contact">
        <h3>Contacta con nosotros</h3>
      <ul>
        <li><a href="#">Teléfono: +1234567890</a></li>
        <li><a href="#">Correo Electrónico: inf&#64;example.com</a></li>
        <li><a href="#">Dirección: Calle Principal, Ciudad</a></li>
      </ul>
      </div>
      <div class="footer-links">
        <h3>Enlaces utiles</h3>
      <ul>
        <li><a href="#">Acerca de nosotros</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Política de Privacidad</a></li>
      </ul>
      </div>
    </div>
    <div class="footer-info">
      <p><i>&copy; 2025 Sr.Burguer. Todos los derechos reservados.</i></p>
      <p>Diseñado por: <a href="https://www.instagram.com/carloss_espigaress/">Carlos Espigares Triano</a></p>
    </div>
  </footer>
