<section class="hero">

    <a name="home"></a>

    <div class="contenido__hero">
        <img class="hero__logo" src="assets/logo.png" alt="">
        <div class="hero__logoTextos">
            <span>SR. BURGUER</span>
        </div>
    </div>

</section>
<main class="bg__main">
    <div class="main__tittle">
        <a name="nosotros">
            <span class="main__tittle--sobre">Sobre</span>
            <span class="main__tittle--nosotros">Nosotros</span>
            <div class="main__lineTittle"></div>
        </a>

    </div>
    <div class="contenedor main__contenido">
        <section class="main__container">
            <div class="main__contentTittle">
                <h3>Marca</h3>
                <img class="main__icon" src="assets/papas.svg" alt="">
            </div>
            <p>En Sr. Burguer, nuestra marca se construye sobre la <strong><u>pasión por la calidad y el sabor auténtico.</u></strong>
                Cada hamburguesa es más que un plato; es una experiencia gastronómica cuidadosamente <strong><u>elaborada para deleitar tus sentidos.</u></strong> </p>
        </section>
        <section class="main__container">
            <div class="main__contentTittle">
                <h3>Mision</h3>
                <img class="main__icon" src="assets/vaso.svg" alt="">  
            </div>
            <p>En Sr. Burguer, nuestra misión es simple pero poderosa: queremos ser el lugar donde la <strong><u>calidad</u></strong> se encuentra con la <strong><u>satisfacción</u></strong>.
                Nos esforzamos por ofrecer a nuestros clientes las mejores hamburguesas preparadas con <strong><u>ingredientes frescos</u></strong> y deliciosos,
                creando momentos memorables en cada bocado.</p>
        </section>
        <section class="main__container">
            <div class="main__contentTittle">
                <h3>Visión</h3>
                <img class="main__icon" src="assets/mayonesa.svg" alt="">
            </div>
            <p>En Sr. Burguer, nuestra visión es ser reconocidos como el referente en el mundo de las hamburguesas, superando las expectativas de nuestros clientes.
                Aspiramos a crear un <strong><u>ambiente acogedor</u></strong> donde cada visita sea una <strong><u>experiencia inolvidable</u></strong>,
                redefiniendo constantemente los estándares de calidad y servicio en la industria de la comida rápida.</p>
        </section>
        <section class="main__container">
            <div class="main__contentTittle">
                <h3>Historia</h3>
                <img class="main__icon" src="assets/plato.svg" alt="">
            </div>
            <p>La historia de Sr. Burguer comenzó con una simple pasión por la buena comida y el deseo de compartir sabores extraordinarios.
                Desde nuestros modestos inicios, hemos evolucionado para convertirnos en un destino culinario apreciado.
                Cada capítulo de nuestra historia está lleno de <strong><u>dedicación</u></strong>,
                <strong><u>innovación</u></strong> y el <strong><u>compromiso</u></strong> constante de ofrecer las mejores hamburguesas a nuestros fieles comensales.</p>
        </section>
    </div>
</main>

<div class="galeria">
    <a name="galeria"></a>
    <div class="contenedor">
        <div class="contenedor_galeria">
            <div class="imagen_contenedor">
                <img class="imagen_galeria slider-image" src="menu/hamburguesas/hamburguesa1trio.jpg" alt="">
                <div class="nombre_hamburguesa">Épica del Oeste</div>
            </div>
            <div class="imagen_contenedor">
                <img class="imagen_galeria slider-image" src="menu/hamburguesas/hamburguesa2trio.jpg" alt="">
                <div class="nombre_hamburguesa">Delirio</div>
            </div>
            <div class="imagen_contenedor">
                <img class="imagen_galeria slider-image" src="menu/hamburguesas/hamburguesa3trio.jpg" alt="">
                <div class="nombre_hamburguesa">Capitán</div>
            </div>
        </div>
        
        <div class="boton_galeria">
            <button class="pedido_btn" routerLink="/menu">¡ACCEDE A NUESTRO MENU!</button>
        </div>           
    </div>
</div> 
