<div class="card">
  <img [src]="producto.imagen" alt="{{ producto.nombre }}" class="card-img">
  <div class="card-body">
    <h3>{{ producto.nombre }}</h3>
    <p>{{ producto.descripcion }}</p>
    <p><strong>{{ producto.precio | number:'1.2-2' }} €</strong></p>
    <div class="contador-boton">
      <div class="contador">
      <label>Cantidad:</label>
      <input type="number" [(ngModel)]="cantidad" min="1">
      </div>

      <button class="boton-cesta" (click)="meterACesta()">Añadir a la cesta</button>
    </div>
    
    <div *ngIf="productoDentro" class="alert alert-success mt-2" role="alert">✅ Producto añadido a la cesta</div>
  </div>
</div>
