.menu {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  
}

.menu-fondo {
  background-color: #fef3e7;
  padding: 2rem 1rem;
}


.menu-titulo {
  font-family: 'Rokkitt', serif;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 4rem;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .menu-titulo {
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  .menu-titulo {
    font-size: 2.6rem;
  }
}